*{
    box-sizing: border-box;
}

 body {
     margin: 0%;
     background: url(/images/background.jpg);
     background-size: cover;
 }
#content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#header{
    display: flex;
    justify-content: center;
}
 .sokoban{
     margin-top: 2%;
     background-image: url(/images/img11.png);
 width: 70%;
 height: 70%;
 }