*{
    box-sizing: border-box;
}

 body {
     margin: 0%;
     background: url(/images/background.jpg);
     background-size: cover;
 }
#content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

 .sokoban{
     display: flex;
     margin-top: 2%;
     background-color: black;
    width: 90%;
    height: 85vh;
    color: white;
    border-radius: 20%;
    flex-direction: column;
    box-shadow: 0px 0px 30px red;
 }
 #grid{
     color: white;
     flex-direction: column;
     margin: auto;
 }
 .grids{
     display: flex; 
 }
 #tileTest{
     width: 25%;
     margin: auto;
 }
 .difficulty{
     display: flex;
     margin-left: 20%;
 }
 #mapSelect{
    width: 10%;
    display: flex;
 }
 #text{
     color: white;
 }
 #player{
     position: fixed;
     margin-left: 20px;
 }